HOST=0.0.0.0
PORT=8765
PROJECT_STORE_URL=https://static.93.189.179.185.ip.webhost1.net/project_store.php
SAVE_DEBOUNCE_MS=350
CERTFILE=/home/admin/conf/web/static.93.189.179.185.ip.webhost1.net/ssl/static.93.189.179.185.ip.webhost1.net.pem
KEYFILE=/home/admin/conf/web/static.93.189.179.185.ip.webhost1.net/ssl/static.93.189.179.185.ip.webhost1.net.key
